<ul class="feed-list list-unstyled">
{if !$posts[0]}
    <div class="empty-text fs-3">空空如也</div>
{else /}
    {foreach $posts[0] as $post}
    <li class="feed-item py-12px d-flex js-tap" data-href="/post/show/{$post.id}" data-pid="{$post.id}">
        <div class="feed-item-count">
            <spap class="post-num">
                <i>{$post.comments}</i>
                <span class="list-triangle-border"></span>
                <span class="list-triangle-body"></span>
            </spap>
        </div>
        <div class="d-flex flex-column w-100">
            <div>
                <div class="typo-text fs-18">{$post.content | raw}</div>
                {if is_logined() && is_author($user.id)}
                <div class="ms-auto dropdown">
                    <button class="btn btn-sm btn-icon feed-item-action" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="iconfont icon-more fs-18px"></i></button>
                    <div class="dropdown-menu dropdown-menu-end fs-15px">
                        <a class="dropdown-item text-danger" href="#">
                            <i class="iconfont icon-trash me-2"></i>
                            <span class="fw-bold">删除</span>
                        </a>
                    </div>
                </div>
                {/if}
            </div>
            {if $post.images > 0}
                {if $post.type === 'gif'}
                    <img class="img-fluid feed-item-img rounded align-self-baseline mt-2" data-gifffer="/upload/{$post.filename}" alt="" loading="lazy" decoding="async">
                {else /}
                    <img class="img-fluid feed-item-img rounded align-self-baseline mt-2" src="/upload/{$post.filename}" alt="" data-zoomable loading="lazy" decoding="async">
                {/if}
            {/if}
            <div class="d-flex align-items-center mt-1">
                <a class="link-dark post-meta" href="/user/profile/{$post.user_id}">{$post.username}</a>
                <a class="link-secondary" href="/post/show/{$post.id}">{:nice_time($post.created_at)}</a>
            </div>
        </div>

    </li>
    {/foreach}
{/if}
</ul>