<!doctype html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{block name="title"}首页{/block} - 怪物</title>
    <link rel="stylesheet" href="/static/font/iconfont.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/twitter.css">
</head>

<body class="d-flex w-100">
    {include file="layout/header" /}

    {block name="main"}{/block}

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/editor429.js"></script>
    <script src="/static/js/twitter.js"></script>
    <script src="/static/js/gifffer.min.js"></script>
    {block name="js"}{/block}
    <script>
        window.addEventListener('load', function () {
            // GIF动画播放
            Gifffer();
        });
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?3803abf11a21f7453518a2a61b84270c";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>

</html>