<!doctype html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{block name="title"}个人空间{/block}</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/twitter.css">
    {block name="css"}{/block}
</head>

<body>

    {block name="main"}{/block}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/twitter.js"></script>
    {block name="js"}{/block}
</body>

</html>